/* see animations in a file animation.css */

.win {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.win__logo {
  animation-name: flicker, pulse;
  animation-duration: 2s, 1.5s;
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: infinite, infinite;
  animation-direction: alternate,alternate;
  width: 50%;
  z-index: 9999;
}

.win__btn_pf {
  align-items: center;
  cursor: pointer;
  display: flex;  
  justify-content: center;
  background: none;
  border: none;
  font-family: FrizQuadrata,sans-serif;
  font-size: 2.5rem;
  position: relative;
  transition: .3s;
  width: 30%;
  margin-bottom: 4%;
  z-index: 99999;
}

.win__btn_pf:hover {
  filter: saturate(300%);
  transform: scale(1.005);
}

.win__btn-pf_position {
  position: absolute;
  left: 0;
  z-index: -1;
}

.win__btn-google {
  z-index: 99999;
  width: 15%;
}