<div class="win is-hidden">
  <div class="bg bg_blur"></div>
  <div class="win__logo">
    <img src="images/logo.png" alt="">
  </div>
  <a href="index.html" class="win__btn_pf">
    <img src="images/button.png" class="win__btn-pf_position" alt="">
    <h1>Play free</h1>    
  </a>
  <a href="index.html" class="win__btn-google">
    <img src="images/google.png" alt="" >
  </a>
</div>