/* see animations in a file animation.css */

.objects {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
}

.bg_cut {
  background: url(../images/bg_cut.png) center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.object__box {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.object {
  filter: drop-shadow(0 0 5px #fff);
  transition: 1s;
  transform: translate(-50%, -50%);
  position: absolute; 
  width: 6%;
}

.object_width {
  width: 5%;
}

.filter {
  filter: brightness(90%);
}

.light {
  filter: sepia(0%);
  animation: light .3s linear infinite alternate;
}

#mirror,
.mirror {
  left: 23%;
  top: 41%;  
}

#balerina,
.balerina {
  left: 54%; 
  top: 49%;
}

#perfume,
.perfume {
  left: 27%;
  top: 62%;
  transform: rotate(15deg);
}

#comb,
.comb {
  right: 9%;
  top: 44%;
  transform: rotate(30deg) scale(.6);
}

#shoe,
.shoe {
  left: 54%; 
  top: 49%;  
}

#fan,
.fan {
  left: 23%;
  top: 41%;  
}

#book,
.book {
  left: 27%;
  top: 62%;
  transform: rotate(15deg);
}

#bird,
.bird {
  right: 9%;
  top: 44%;
  transform: rotate(30deg) scale(.6);
}

#purse,
.purse {
  left: 54%; 
  top: 49%;  
}

#basket,
.basket {
  left: 23%;
  top: 41%;  
}

#card,
.card {
  left: 27%;
  top: 62%;
  transform: rotate(15deg);
}

#apple,
.apple {
  right: 9%;
  top: 44%;
  transform: rotate(30deg) scale(.6);
}

.object_clone {
  z-index: 9;
}

.object_found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  transition: 1.5s;
}

.found-top {
  top: 12%;
  transition: 1.5s;
  left: 80%;
}

 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  #mirror,
  .mirror {
    left: 14%;
    top: 44%;
  }

  #balerina,
  .balerina {
    top: 51%;
  }

  #perfume,
  .perfume {
    left: 21%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : landscape) {
  #mirror,
  .mirror {
    left: 15%;
    top: 44%;
  }

  #balerina,
  .balerina {
    top: 51%;
  }

  #perfume,
  .perfume {
    left: 19%;
  }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 823px) and (orientation : landscape) {
  #mirror,
  .mirror {
    left: 23%;
    top: 42%;
  }

  #balerina,
  .balerina {
    top: 49%;
  }

  #perfume,
  .perfume {
    left: 27%;
  }
}
