* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'FrizQuadrata', sans-serif;
  height: 100vh;
  color: #460000;
  overflow: hidden;
  width: 100vw;
}

img {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.is-opacity {
  opacity: 0;
}

.content {
  height: 100%;
  overflow: hidden;
  transition: .5s;
  width: 100%;
}

.bg {
  background: url(../images/bg.jpg) center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg_blur {
  filter: blur(3px);
}

.win {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.win__logo {
  animation-name: flicker, pulse;
  animation-duration: 2s, 1.5s;
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: infinite, infinite;
  animation-direction: alternate,alternate;
  width: 50%;
  z-index: 9999;
}

.win__btn_pf {
  align-items: center;
  color: #460000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  font-family: FrizQuadrata, sans-serif;
  font-size: 2.5rem;
  position: relative;
  text-decoration: none;
  transition: .3s;
  width: 30%;
  margin-bottom: 4%;
  z-index: 99;
}

.win__btn_pf:hover {
  filter: saturate(300%);
  transform: scale(1.005);
}

.win__btn-pf_position {
  position: absolute;
  left: 0;
  z-index: -1;
}

.win__btn-google {
  z-index: 999;
  width: 15%;
}

.spiner {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100%;
  height: 100%;
}

.spiner__el{
  animation: spin 1s linear infinite reverse;
  border: 5px solid rgb(245, 104, 104);
  border-top: none;
  border-radius: 50%;
  height: 250px;
  margin: 0 auto;
  width: 250px;
  z-index: 999;
}

.is-hidden {
  display:none;
}

@media only screen  and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    height: 100vw;
    position: relative;
    right: 39%;
    transform: rotate(90deg);
    width: 100vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    right: 16.7%;
    top: 12.5%;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .content {
    top: 21.9%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait) {
  .content {
    right: 30%;
    top: 22%;
    width: 100vh;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .content {
    right: 58.5%;
    top: 27%;
  }
}

@media only screen and (device-width: 411px) and (device-height: 823px) and (orientation: portrait) {
  .content {
    right: 50.2%;
    top: 25%;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 667px) {
  h1 {
    font-size: 1rem;
  }
}