<div class="gui">
  <div class="tutorial">
    <div>
      <img src="images/tutorial.png" alt="Game tutorial" class="tutorial__bg">
    </div> 
    <div class="tutorial__text-wrap">
      <h1 class="tutorial__text">Find all the<br> hidden objects!</h1>
    </div>
  </div>
  <div class="list">
    <div class="list__bg-wrapper">
      <img src="images/ho_gui.png" alt="Game UI" class="list__bg">
    </div>
    <div class="list__item-wrap">
      <ul class="list__items"></ul>   
    </div>    
  </div>    
</div>